<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132389867174-vf2v4odbaq4jk9o9kgihieo2uofevn2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132389867174-vf2v4odbaq4jk9o9kgihieo2uofevn2n</string>
	<key>API_KEY</key>
	<string>AIzaSyBkm4OBem2J8PXnfsaVq6MRxAEL2WSGDsE</string>
	<key>GCM_SENDER_ID</key>
	<string>132389867174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.borba.lucas.ShoppingList</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-atividade4</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-atividade4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132389867174:ios:9a11a77589f4d92d3a2e67</string>
</dict>
</plist>